{% extends "entries\base.html" %}

{% block content %}
    <h1>About</h1>
    <h2>Hi Friend! - thank you for choosing Dear Diary :)</h2>
    <h3>Dear Diary has some built-in features that handle user-submitted data to make it safe for an application. These features escape possible dangerous characters in requests, making the data safe for the application to use. </h3>
    
    <div class = "navbar-nav">
        {% if user.is_authenticated %}
        <!-- <button class = 'logout-bttn'><a class="logout" href="{% url 'logout' %}">Logout</a></button>
        <button><a class="profile" href="{% url 'profile' %}">Profile</a></button> -->

        {% else %}
        <button class="login-reg-btn"><a class="login" href="{% url 'login' %}">Login</a></button>
        <button><a class="register" href="{% url 'register' %}">Register</a></button>
        {% endif %}
    </div>


{% endblock %}

