{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Diary</title>
    <link rel="stylesheet" href="{% static 'css/diary.css' %}">
</head>

<body>
    <h1><a href="/">Dear diary work please</a></h1>
        <div class = "navbar-nav">
            {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
            {% else %}
            <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
            <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
            {% endif %}
        </div>
    
    {% if messages %}
        {% for message in messages %}
            <div class="alert aler-{{message.tags}}">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}

    {% block content %}{% endblock %}

</body>

</html>