{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Diary</title>
    <link rel="stylesheet" href="{% static 'css/diary.css' %}">
</head>

<body class="background">
    <h1 class="title"><a href="{% url 'entry-list' %}">Dear diary...</a></h1>
        <div class = "navbar-nav">
            {% if user.is_authenticated %}
            <button class = 'logout-btn'><a class="logout" href="{% url 'logout' %}">Logout</a></button>
            <button class = 'profile-btn'><a class="profile" href="{% url 'profile' %}">Profile</a></button>

            {% else %}
            <!-- <button class="login-reg-btn"><a class="login" href="{% url 'login' %}">Loginn</a></button> -->
            <!-- <button><a class="register" href="{% url 'register' %}">Register</a></button> -->
            {% endif %}
        </div>
    
    {% if messages %}
        {% for message in messages %}
            <div class="alert aler-{{message.tags}}">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}

    {% block content %}{% endblock %}

</body>

</html>