{% extends "entries/base.html" %}
{% block content %}
<div class="entry-form">

    <form id = 'create' method="post">
        {% csrf_token %}
        {{ form.as_p }}
       <input id = 'save' type="submit" value="Save">

    </form>


    {% if entry %}
        <a href="{% url 'entry-detail' entry.i d %}">
            <button id = "cancel-button">Cancel</button>
        </a>
    {% else %}
        <a href="{% url 'entry-list' %}">
            <button id="cancel-btn">Cancel</button>
        </a>
</div>
    {% endif %}
{% endblock %}