{% extends "entries/base.html" %}
{% block content %}
    <div class="content_section_register">
        <form method="post">
            {%csrf_token%}
            <fieldset class ="form-group">
                <legend id="join-today" class = "border-bottom mb-4"> Join Today</legend>
                {{form}}
            </fieldset>
            <div class = "form-group2">
                <button id="signup-btn" class = "btn btn-outline-info" type = "submit">Sign Up</button>
            </div>
        </form> 
        <div class="already-have-acc">
            <small id="have-acc" class="text-muted">Already have an account? <a class="ml-2" href="{%url 'login' %}">Sign In</a></small>
        </div>
    </div>
{% endblock content %}